<div class="header">
  <h1>Angular homeworks</h1>
</div>

<div class="container-fluid mt-5">
  <div class="center d-flex justify-content-around mt-4">

    <div class="card md-5">


      <img src="../../../assets/CenzorImg.png" class="card-img-top" alt="...">


      <div class="card-body">
        <h5 class="card-title">Angular Cenzor</h5>
        <p class="card-text">a simple censor built using a TypeScript</p>
        <a class="btn btn-primary"  [routerLink]="[ '/header/Cenzor']">Open Cenzor</a>
      </div>
    </div>

    <div class="card md-4">
      <img src="../../../assets/UserList.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">UserList</h5>
        <p class="card-text">a simple user list built using a TypeScript</p>
        <a  class="btn btn-primary" [routerLink]="[ '/header/UserList']">Open user list</a>
      </div>
    </div>
    
    <div class="card md-4">
      <img src="../../../assets/PhoneBook.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">PhoneBook</h5>
        <p class="card-text">a simple phone book built using a TypeScript.</p>
        <a class="btn btn-primary" [routerLink]="[ '/header/PhoneBook']">Open phone book</a>
      </div>
    </div>

  </div>



</div>
